<%= form_for(@orden) do |f| %>
  <div class="field">
    <%= f.text_field :pickup, placeholder: "Pickup" %>
    <%= f.text_field :dropoff, placeholder: "Dropoff" %>
    <%= f.text_field :distancia, placeholder: "Distancia" %>
    <%= f.text_field :precio, placeholder: "Precio" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>