<% content_for(:body_attributes) do %>
    data-no-turbolink="true"
  <% end %>

<!-- Banner -->
        <section id="banner">
          <h2></h2>
          <!--<p>Envío a todo México</p>-->
          <ul class="actions">
            <li><%= link_to "Cotiza gratis", pides_path, class: "button special", 'data-no-turbolink' => true %></li>
          </ul>
		</section>

		<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>Envía y recibe pedidos el mismo día.
							</h2>
						</header>
						
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="icon major fa-bicycle accent2"></span>
								<h3><%= link_to "Unete a nosotros", unete_path %></h3>
								
								<p>
									Ser bicimensajero es una cultura, se parte de nosotros y vive la experiencia sobre las ruedas.
								</p>
								
							</section>
							<section>
								<span class="icon major fa-share-square-o accent3"></span>
								<h3><%= link_to "Políticas de envíos", politicas_path %></h3>
								<p>
									Conoce nuestro proceso y logística de entrega, darte un buen servicio es parte de nuestra filosofia y cultura.
								</p>
							</section>
						</div>
						<div class="features-row">
							<section>
								<span class="icon major fa-question-circle accent4"></span>
								<h3><%= link_to "Preguntas frecuentes", faq_path %></h3>
								<p>
									Si tienes alguna duda respecto a nuestro servicio, aquí tratamos de solucionar tus dudas.
								</p>
							</section>
							<section>
								<span class="icon major fa-steam-square accent5"></span>
								<h3><%= link_to "Acerca de nosotros", acercade_path %></h3>
								<p>
									Un equipo que más de ser ciclistas, somos personas que amamos viajar en bicicleta, te compartimos nuestra pasión.
								</p>
								
							</section>
						</div>
					</section>

				</section>



				<section id="cta">

					<h2>Cotiza tu envío.</h2>
					<p>En esta sección  Envío a toda la ciudad de México.</p>

					<ul class="actions">
						<li><%= link_to "Cotiza gratis", pides_path, class: "button fit", 'data-no-turbolink' => true %></li>
					</ul>
					

				</section>