Para tener un nuevo password, por favor haz click en el siguiente link:

<%= edit_password_reset_url(@usuario.reset_token, email: @usuario.email) %>

El link muere en 2 horas.

Si tu no pediste que cambiaramos tu password, por favor ignora este email.