<footer id="footer">
          <ul class="menu-footer">
            <li><h4><%= link_to "Acerca de nosotros", acercade_path %></h4></li>
            <li><h4><%= link_to "Contacto", contacto_path %></h4></li>
            <li><h4><%= link_to "Aviso de privacidad", privacidad_path %></h4></li>
          </ul>
          <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
          </ul>
          <ul class="copyright">
            <li>&copy;. Todos los derechos reservados.</li><li> <a href="#">#bisonteDeOro</a></li>
          </ul>
          <!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="//v2.zopim.com/?3AVY2thZrxj2xtZbwcSnJdliHJZkIfty";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zopim Live Chat Script-->
</footer>
