<header id="header" class="navbar navbar-fixed-top navbar-inverse alt">

	<h1 style="margin-top: 6px;">
		<%= link_to root_path do %>
		   <%= image_tag 'logo-bicimensajero.png', width: 200, alt: 'Bicimensajero' %>
		<% end %>
	</h1>  

    <nav id="nav">
      <ul class="nav navbar-nav navbar-right">
      	<li><%= link_to "Cotiza", pides_path, 'data-no-turbolink' => true, :class => 'button buttonGrande' %></li>

      	<!--

      	<% if logged_in? %>
      	<li><%= link_to "Usuarios", usuarios_path %></li>
      	<li><%= link_to "Cerrar sesión", logout_path, method: "delete" %></li>
      	<li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	          Mi cuenta <b class="caret"></b>
	        </a>
	        <ul class="dropdown-menu">
	          <li><%= link_to "Perfil", current_usuario %></li>
	          <li><%= link_to "Ajustes de mi cuenta", edit_usuario_path(current_usuario) %></li>
	          <li class="divider"></li>
	          <li>
	            <%= link_to "Cerrar sesión", logout_path, method: "delete" %>
	          </li>
	        </ul>
	     </li>
	    <% else %>
      	<li><%= link_to "Crea una cuenta", nuevacuenta_path, id: "login", :class => 'button' %></li>
        <li><%= link_to "Ingresa a tu cuenta", login_path, id: "login", :class => 'button' %></li>
        <% end %>

    	-->

      </ul>
    </nav>
  
</header>
